.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:black;
}

.form > .splash-logo {
    width: 30vw;
    height: 12vw;
}

.form > h1 {
    width: 100vw;
    font-size: 2vw;
    margin-bottom: 3vw;
    color: white;
    font-weight: 900;
}

.form-row{
    width: 70vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    color: white;
}

.form-row a {
    color: rgb(195, 244, 255);
}

.form-row > * {
    width: 50%;
    margin: 0 auto;
}

.form input{
    font-size: 2vw;
    text-align: center;
    border-radius: 50px;
    border:none;
    outline: none;
    padding: 10px 10px;
    border: 1px solid rgb(201, 201, 201);
    background-color: white;
    margin: 10px 20px 20px 10px;
}

.form .submit, .form button{
    margin: 20px 20px 5px 20px;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    border:none;
    width: 16vw;
    min-width: 160px;
    text-align: center;
    font-weight: 900;
    font-size: 14px;
    padding: 20px 6px;
    text-decoration: none;
    border-radius: 50px;
    -webkit-box-shadow: 0px 1.5px 10px 1px #0c0c0c29;
    -moz-box-shadow: 0px 1.5px 10px 1px #0c0c0c29;
    box-shadow: 0px 1.5px 10px 1px #0c0c0c29;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
    transition: background-color .5s ease-out;
}

.form .submit {
    background-color: rgb(94, 208, 94) ;
}

.submit:hover {
    background-color: rgb(77, 182, 77);
    cursor: pointer;
}

.form button {
    background-color: rgb(86, 207, 191) ;
}

.form button:hover {
    background-color: rgb(74, 182, 167) ;
}

.form button p {
    margin: 0 auto;
}

.errors{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.errors > p{
    color:red;
    width: 100%;
    display: flex;
    justify-content: center;
}

.form a {
    width: auto;
    margin-top: 1vw;
}

.form a:hover {
    cursor: pointer;
}