.icon{
    background-image: url(https://i.imgur.com/PB7zU8W.png);
    min-height: 30px;
    min-width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:1vw;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100vw;
    background-color: #fb6262;
}

button{
    background: none;
    border:none;
}

.navbar  a, button {
    padding: 5px 0;
    margin: 0 1vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-self: center;
}

.links {
    display: flex;
    width: 100%;
    justify-content: flex-end
}
