.icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/en/3/39/Pokeball.PNG);
    min-height: 30px;
    min-width: 80px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left:1vw;
}

.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    width: 100vw;
    background-color: #fb6262;
    -webkit-box-shadow: 0px 1px 13px 3px #0c0c0c29;
    -moz-box-shadow: 0px 1px 13px 3px #0c0c0c29;
    box-shadow: 0px 1px 13px 3px #0c0c0c29;
}

button{
    background: none;
    border:none;
}

.navbar  a, button, p {
    padding: 5px 0;
    margin: 0 1vw;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-self: center;
}

.navbar a, button{
    cursor: pointer;
}

.links {
    display: flex;
    width: 100%;
    justify-content: flex-end
}

.links p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 13px;
    padding-right: 15px;
}