.poke-attrs{
  width: 70vw;
  margin: 1vw auto;
  background: indianred;
  border-radius: 10px;
}

.attr-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attr-header h1 {
  font-size: 2vw;
}

.attr-col-section {
  display: flex;
}

.attr-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  margin: 0.5vw;
}

.poke-attrs h3 {
  text-align: center;
  font-size: 1.5vw;
  padding: 1vw;
}