.poke-row{
    display: flex;
    justify-content: center;
    margin: 4vw 0;
}

.lower {
}

.comments-and-likes {
    display: flex;
    justify-content: center;
    margin-bottom: 5vw;
}

    .comments-and-likes form {
        margin-right: 5vw;
        display: flex;
        flex-direction: column;
    }
    
        .comments-and-likes form textarea {
            width: 30vw;
            height: 6vw;
            font-size: 1em;
        }
    
        .comments-and-likes form input {
            font-size: 1em; 
        }

.like {
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 1.5vw;
}

.likes {
    flex-wrap: wrap;
}

.row-item  > h3{
    padding-top: .5vw;
}

.likes > h3 {
    /* width: 100%; */
    margin-top: -1.5vw;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
}

    .comment-index-item {
        margin: .5vw 0;
        padding: 2vw;
        background: limegreen;
        border-radius: 20px;
    }

        .comment-index-item-body {
            padding-top: 1vw;
            color: black;
        }

.item {
    flex-wrap: wrap;
    margin-bottom: 2vw;
    margin-top:4vw;
}

.item > h3 {
    width: 100%;
}

.team-show {
    font-family: 'Montserrat', sans-serif;
    color: white;
}