@media only screen and (min-width: 1200px) {
  .team-container {
    transform: scale(.7);
    margin: -40px auto !important;
    width: 65vw;
  }
}

.teams-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px 110px 0 110px;
}

.team-container{
    color: rgb(70, 70, 70); 
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    height: 26vw;
    min-width: 50vw;
    width: 66vw;
    justify-content: center;
    background-color: rgb(249, 245, 245);
    margin: 30px auto;    
    padding: 20px 0;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 10px 3px #0c0c0c29;
    -moz-box-shadow: 0px 3px 10px 3px #0c0c0c29;
    box-shadow: 0px 3px 10px 3px #0c0c0c29;
}

.team-container > * {
    display: flex;
    justify-content: center;
    width: 100%;
}

.team-top {
    display: flex;
    justify-content: center;
    min-width: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-top: -20px;
    margin-bottom: 25px;
    background-color: #fb6262;
    color: rgb(249, 245, 245);
}

.team-top a {
    text-decoration: none;
    width: 100%;
    color: rgb(249, 245, 245);
}

.team-top  h2 {
    color: rgb(249, 245, 245);
}

.team-container > .row {
    color: #757575;
    font-size: 1.5vw;
    display: flex;
    justify-content: space-evenly;
    padding-top: 4vw;
}

.team-container  h1 {
    text-align: center;
    font-size: 5vw;
    font-weight:700;
    min-width: 100%;
}

.team-container  h2 {
    text-align: center;
    font-size: 2.5vw;
    font-weight: 100;
    min-width: 100%;
    margin-bottom: 1vw;
}

.poke-container {
    text-align: center;
}

.poke-container  h3 {
    text-align: center;
    padding-top: 6px;
    width: 8vw;
    text-align: center;
    margin: 0 auto;
    font-size: 1.3vw;
    min-width: 100%;
    text-transform: capitalize;
}

.poke-circle{
    border-radius:50vw;
    border: 1.5px solid rgba(40, 40, 40, 0.379);
    margin: 0px 1vw;
    width: 8vw;
    height: 8vw;
    background-color: rgb(112, 214, 255);
    -moz-box-shadow:    inset 0 0 7px 0px #0000004a;
    -webkit-box-shadow: inset 0 0 7px 0px #0000004a;
    box-shadow:         inset 0 0 7px 0px #0000004a;
    transition: .2s;

} 

.poke-circle:hover{
    transform: scale(1.1);
}

.poke-pic {
    width: 7.5vw;
    height: 7.5vw;
    background-size: 7vw;
    background-position-x: 0.5vw;
    background-position-y: 0.5vw;
    background-repeat: no-repeat;
}

.like-icon {
    margin: 0 auto;
    background-image: url(https://i.imgur.com/BMb6cD9.png);
    background-size: cover;
    width: 1.4vw;
    height: 1.4vw;
    margin-bottom: .2vw;
}

.like {
    cursor: pointer;
}

.likes > * {
    width: 12vw;
    text-align: center;
}
