.filter-buttons-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0 80px 15px 80px;
    justify-content: center;
    align-items: center;
    max-height: 0px;
    overflow: hidden;
}

.filter-buttons-container.open {
    max-height: none;
    min-height: 95px;
}

.filter-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 27px;
}

.filter-headers-container {
    display: flex;
    align-items: center;
    min-width: 170px;
}

.filter-header-container {
    display: flex;
    min-width: 170px;
    background-color: lightblue;
    border-radius: 50px;
    width: 170px;
    margin-left: 20px;
    justify-content: space-between;

}

.filter-header {
    padding: 10px;
    color: rgb(57, 56, 73);
}

.filter-header.open {
    color: whitesmoke;
}

.filter-header:hover {
    cursor: pointer;
    user-select: none;
}

.filter-header-container .x {
    position: relative;
    top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

.filter-header .x:hover {
    cursor: pointer;
    user-select: none;
}


.filter-item {
    box-sizing: border-box;
    border-radius: 100%;
    height: 40px;
    width: 40px;
    margin: 20px 7px 10px 7px;
    border: 4px solid rgba(0, 128, 0, 0);
    transition: border .3s;
}

.filter-item:hover {
    cursor: pointer;
    user-select: none;
    border: 4px solid #5ed05e;
    font-size: 12px;
    
}

.filter-item-container {
    margin: none;
    border: 4px solid #b883d600;
}

.filter-item-container.selected {
    border: 4px solid #b883d6;
}

.filter-item-container h3 {
    color: whitesmoke;    
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 900;
    position: relative;
    top: 14px;
    text-align: center;    
    z-index: 1;
}

#normal { background-color: #f5deb3; box-shadow: inset 0 0 7px 0px #0000004a;}
#fighting { background-color: #C22E28; box-shadow: inset 0 0 7px 0px #0000004a;}
#fire { background-color: #EE8130; box-shadow: inset 0 0 7px 0px #0000004a;}
#water { background-color: #6390F0; box-shadow: inset 0 0 7px 0px #0000004a;}
#grass { background-color: #7AC74C; box-shadow: inset 0 0 7px 0px #0000004a;}
#electric { background-color: #F7D02C; box-shadow: inset 0 0 7px 0px #0000004a;}
#ice { background-color: #96D9D6; box-shadow: inset 0 0 7px 0px #0000004a;}
#poison { background-color: #A33EA1; box-shadow: inset 0 0 7px 0px #0000004a;}
#ground { background-color: #E2BF65; box-shadow: inset 0 0 7px 0px #0000004a;}
#flying { background-color: #A98FF3; box-shadow: inset 0 0 7px 0px #0000004a;}
#psychic { background-color: #F95587; box-shadow: inset 0 0 7px 0px #0000004a;}
#bug { background-color: #A6B91A; box-shadow: inset 0 0 7px 0px #0000004a;}
#rock { background-color: #B6A136; box-shadow: inset 0 0 7px 0px #0000004a;}
#ghost { background-color: #735797; box-shadow: inset 0 0 7px 0px #0000004a;}
#dragon { background-color: #6F35FC; box-shadow: inset 0 0 7px 0px #0000004a;}
#dark { background-color: #705746; box-shadow: inset 0 0 7px 0px #0000004a;}
#steel { background-color: #B7B7CE; box-shadow: inset 0 0 7px 0px #0000004a;}
#fairy { background-color: #D685AD; box-shadow: inset 0 0 7px 0px #0000004a;}



