.pokemon-container {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin: 15px;
    background-color: #fb6262;
}

.pokemon-index-sprite {
    height: 70px;
    width: 70px;
    object-fit: contain;  
    position: absolute;
    transition: .2s;
    z-index: 3;  

}

.pokemon-index-sprite:hover {
    user-select: none;
    cursor: pointer;
    transform: scale(1.2);
}

.pokemon-sprite-name {
    color: white;
    text-shadow: 1px 1px rgb(0, 0, 0);
    position: absolute;
    z-index: 1;
}
