.pokemon-container {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin: 15px;
    background-color: rgb(251, 97, 98);
    -moz-box-shadow:    inset 0 0 7px 0px #0000004a;
    -webkit-box-shadow: inset 0 0 7px 0px #0000004a;
    box-shadow:         inset 0 0 7px 0px #0000004a;
    /* z-index: 1 ; */
}

.dragging {
    cursor: grabbing;
}

.extra-pad {
    margin-bottom: 24px;
}

.pokemon-index-sprite {
    height: inherit;
    width: inherit;
    object-fit: contain;  
    position: relative;
    top: -14px;
    transition: .2s;
    /* z-index: 3;   */

}

.pokemon-index-sprite:hover {
    user-select: none;
    cursor: grab;
    animation: wobble .25s infinite linear;
}

.team-slot-o-container:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

@keyframes wobble {
   0% { transform: translateX(0%); } 
   25% { transform: translateX(-5%) rotate(-5deg); } 
   75% { transform: translateX(5%) rotate(5deg); } 
   100% { transform: translateX(0%); } 
} 

.pokemon-sprite-name {
    color: white;    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative;
    top:74px;
    text-align: center;
    /* z-index: 1; */
    text-transform: capitalize;
}

.long {
    height: 15px;
}

.loading {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(360deg); }
    100% { transform: rotate(0deg); }
}
