.pokemon-container {
    border-radius: 100%;
    height: 70px;
    width: 70px;
    margin: 15px;
    background-color: rgb(251, 97, 98);
    -moz-box-shadow:    inset 0 0 7px 0px #0000004a;
    -webkit-box-shadow: inset 0 0 7px 0px #0000004a;
    box-shadow:         inset 0 0 7px 0px #0000004a;
}

.pokemon-index-sprite {
    height: 70px;
    width: 70px;
    object-fit: contain;  
    position: relative;
    top: -14px;
    transition: .2s;
    z-index: 3;  

}

.pokemon-index-sprite:hover {
    user-select: none;
    cursor: pointer;
    transform: scale(1.2);
}

.pokemon-sprite-name {
    color: rgb(38, 38, 38);
    /* text-shadow: 1px 1px rgb(0, 0, 0); */
    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative;
    top:74px;
    text-align: center;
    z-index: 1;
}
