.team-stat-container-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.team-stat-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: inset 0 0 7px 0px #0000004a;
    background-color: rgb(123, 174, 190);
    border-radius: 25px;
    border: 4px solid rgb(42, 42, 94);
    transition: .2s;
}

.stat-averages {
    height: 100%;
}

.hidden-stats {
    max-height: 0;
    padding: 0;
    border: 0px solid #36398a;
    overflow: hidden;
    width: 55%;
}

.move-totals{
    display: flex;
    justify-content: center;
}

.move-totals div{
    font-size: 24px;
    color: white;
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
}

.team-stat-container h1{
    text-align: center;
    font-size: 24px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    padding: 5px;
}

.chart-header-container {
    display: flex;
    justify-content: center;
}

.chart-header {
    border: 2px solid rgb(42, 42, 94);
    border-radius: 25px;
}

.chart-header:hover {
    cursor: pointer;
    user-select: none;
}