.team-stat-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: inherit;
}

.hidden-stats {
    max-height: 0;
    overflow: hidden;
}

.move-totals{
    height: 200px;
    width: 400px;
}

.move-totals div{
    font-size: 24px;
    color: white;
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
}

.team-stat-container div h1{
    text-align: center;
    font-size: 24px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}