.team-slots-container-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
}
.team-slots-container {
    display: flex;
    margin: 24px 80px 0 80px;
    overflow: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 400px;
    max-width: 980px;
    border-radius: 50px;
    /* height: 16vh; */
}

.stats-button {
    background-color: #fb6262;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 10px;
    margin-left: 160px;
    width: 14vw;
    min-width: 130px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 6px;
    text-align: center;
    color: whitesmoke;
    border: 4px solid #C22E28;
    border-top: none;
    box-shadow: inset 0 0 7px 0px #0000004a;
    transition: background-color .3s ease-out;
}

.stats-button:hover {
    cursor: pointer;
    user-select: none;
    background-color: #d65e5e;
}

.team-slot {
    display: flex;
    justify-content: center;
    align-items: space-between;
    max-width: 1600px;
    border-radius: 100%;
    height: 110px;
    width: 110px;
    margin: 10px;
    background-color: #dddddd;
    box-shadow: inset 0 0 7px 0px #0000004a;
}

.team-slot-sprite {
    height: inherit;
    width: inherit;
    object-fit: contain;  
    position: absolute;
    /* transform: translateY(-15px); */
    transition: .2s;
}

.team-slot-sprite:hover {
    user-select: none;
    cursor: pointer;
    transform: scale(1.05);
}

.hovered-slot {
    background-color: #9dffff;
}

.team-slot-name {
    position: relative;
    bottom: 20px;
    color: white;
    font-size: 24px;
    top: 10px;
    left: 0px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    z-index: 5;
}

.plus {
    color: grey;
    font-size: 40px;
}

.plus:hover {
    user-select: none;
}


.team-slot .x {
    position: relative;
    font-size: 40px;
    color: red;
    z-index: 2;
    font-family: 'Montserrat', sans-serif;
    right: 10;
    bottom: 10;

}

.x:hover {
    cursor: pointer;
    user-select: none;
}

.none {
    opacity: 0;
    height: 0;
    width: 0;
}

