.sticky-container {
    position: sticky;
    top: 0;
    border-bottom: 4px solid rgb(42, 42, 94);
    background-color: #36398a;
    opacity: none;
    transition: .3s;
    z-index: 15;
}

.no-border {
    border-bottom: 4px solid #36398a;
}

.team-slots-container-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    background-color: inherit;
}
.team-slots-container {
    display: flex;
    margin: 0px 80px 0 80px;
    padding: 0px 15px 10px 15px;
    overflow: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    min-width: 400px;
    width: max-content;
    border-radius: 50px;
    align-self: center;
}

.stats-button {
    align-self: center;
    background-color: #fb6262;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 10px;
    margin-right: 450px;
    width: 12vw;
    min-width: 130px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 6px;
    text-align: center;
    color: whitesmoke;
    border: 4px solid #C22E28;
    border-top: none;
    box-shadow: inset 0 0 7px 0px #0000004a;
    transition: .2s;
}

.minimized-button {
    margin:  0 0 10px 0;
}

.stats-button:hover {
    cursor: pointer;
    user-select: none;
    background-color: #d65e5e;
}

.team-slot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 100%;
    height: 12vh;
    width: 12vh;
    margin: 10px;
    background-color: #dddddd;
    box-shadow: inset 0 0 7px 0px #0000004a;
    transition: .2s ease-out;
}

.minimized {
    height: 6vh;
    width: 6vh;
    margin: 10px calc(10px + 3vh) 10px calc(10px + 3vh);
}

.team-slot-header  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team-slot-sprite {
    height: inherit;
    width: inherit;
    object-fit: contain;  
    transition: .2s;
}

.team-slot-sprite:hover {
    user-select: none;
    cursor: pointer;
    transform: scale(1.10);
}

.hovered-slot {
    background-color: #9dffff;
}

.team-slot-name {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25vh;
    height: min-content;
    z-index: 5;
}

.team-slot-name:hover {
    user-select: none;
    cursor: pointer;
}

.team-slots-container .x {
    font-size: 2.25vh;
    position: relative;
    height: min-content;
    color: maroon;
    top: 3.7vh;
    left: 1.0vh;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
}

.x:hover {
    cursor: pointer;
    user-select: none;
}

.plus {
    color: grey;
    font-size: 4vh;
}

.minimized-plus {
    font-size: 2vh;
}

.plus:hover {
    user-select: none;
}

.none {
    opacity: 0;
    height: 0;
    width: 0;
}

