.team-builder-container
.team-container {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;
    justify-content: center;
}
.team-slot-container {
    display: flex;
    justify-content: center;
    min-width: 540px;
    margin: none;
}

.team-slot {
    border-radius: 100%;
    height: 150px;
    width: 150px;
    margin: 10px;
    background-color: #dddddd;
    text-align: center;
}

.pokemon-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 80px 15px 80px;
}

.filters {
    display: flex;
    justify-content: center;
}

.search {
    box-sizing: border-box;
    width: 400px;
    height: 60px;
    padding: 15px;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: none;
}


