.sticky-container {
    position: sticky;
    top: 0;
    border-bottom: 4px solid rgb(42, 42, 94);
    background-color: #36398a;
    opacity: none;
    transition: .3s;
    overflow: scroll;
    z-index: 15;
}

.team-and-stats-container-container {
    display: flex;
    justify-content: center;
}

.showing {
    background-color: rgb(123, 174, 190);
    border: 4px solid rgb(42, 42, 94);
    border-radius: 25px;
}

.team-and-stats-container {
    display: flex;
    flex-direction: column;
    width: min-content;
    border-radius: 25px;
}

.team-slot-o-container {
    display: flex;
    flex-direction: column;
}

.team-slots-container.transparent {
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}

.team-stats-title {
    height: min-content;
    width: max-content;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 2.5vh;
    margin: 10px;
}

.team-stats-sub {
    color: rgb(203, 199, 253);
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5vh;
    width: 10vh;
    font-style: italic;
    line-height: 1.1;
    margin: 10px;
}

.no-border {
    border-bottom: 4px solid #36398a;
}

.team-slots-container-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: inherit;
    border-radius: 25px;
}
.team-slots-container {
    display: flex;
    margin-top: 24px;
    overflow: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    min-width: 400px;
    width: max-content;
    border-radius: 50px;
    align-self: center;
    transition: .25s;
}

.is-dragging {
    background-color: rgb(255, 223, 223);
}

.team-slot.is-dragging-slot {
    background-color:  rgb(240, 197, 197);  
}

.stats-button-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.stats-button {
    background-color: #fb6262;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom: 10px;
    width: 14vw;
    min-width: 130px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding: 6px;
    text-align: center;
    color: whitesmoke;
    border: 4px solid #C22E28;
    border-top: none;
    box-shadow: inset 0 0 7px 0px #0000004a;
    transition: .2s;
}

.minimized-button {
    margin:  0 0 10px 0;
}

.stats-button:hover {
    cursor: pointer;
    user-select: none;
    background-color: #d65e5e;
}

.team-slot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 100%;
    height: 12vh;
    width: 12vh;
    margin: 10px;
    background-color: #dddddd;
    box-shadow: inset 0 0 7px 0px #0000004a;
    transition: .2s ease-out;
}

.minimized {
    height: 7vh;
    width: 7vh;
    margin: 10px calc(10px + 1vh) 10px calc(10px + 1vh);
}

.team-slot-header  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.team-slot-sprite {
    height: inherit;
    width: inherit;
    object-fit: contain;  
    transition: .2s ease-out;
}

.team-slot-sprite:hover {
    user-select: none;
    cursor: pointer;
    transform: scale(1.10);
}

.hovered-slot {
    background-color: #fa9090;
}

.team-slot-name {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.25vh;
    height: min-content;
    z-index: 5;
}

.team-slot-name:hover {
    user-select: none;
    cursor: pointer;
}

.team-slots-container .x {
    height: 0px;
    font-size: 2.25vh;
    position: relative;
    color: maroon;
    top: 1vh;
    left: -5vh;
    width: min-content;
    z-index: 3;
    font-family: 'Montserrat', sans-serif;
    transition: .2s ease-out;
}

.x.min-x {
    left: -3.6vh;
}

.x:hover {
    cursor: pointer;
    user-select: none;
}

.plus {
    color: grey;
    font-size: 4vh;
}

.minimized-plus {
    font-size: 2vh;
}

.plus:hover {
    user-select: none;
}

.none {
    opacity: 0;
    height: 0;
    width: 0;
}

